<app-breadcrumbs></app-breadcrumbs>
<router-outlet></router-outlet>
<app-navbar-reutilizable [nombres]="['Inicio','Campeonatos','Subidas','Pilotos']" [colorBotonAct]="'rgba(255, 87, 51, 0.5)'" [colorNumeroAct]="'white'" [colorBotonDesact]="'blue'" [colorNumeroDesact]="'white'" [colorBarra]="'#007bff'" [rutas]="['','campeonatos','rallys','pilotos','copilotos']"></app-navbar-reutilizable>
<footer class="text-center mt-5 mb-3">
    <p>&copy; 2025 Campeonato gallego de montaña. Todos los derechos reservados.</p>
</footer>