<!-- Header -->
<header class="bg-white shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center py-0">
        <div class="container py-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <div>
                    <img src="logo1.png" alt="Logo" height="80px" width="80px" class="img-fluid">
                </div>
                <div class="logo ms-3">
                    <h1 class="text-primary m-0">Campeonato Gallego de Montaña</h1>
                    <p class="text-muted small mb-0">Desde 1984 hasta hoy</p>
                </div>
            </div>
            
        </div>
        <nav class="d-none d-md-block">
            <a routerLink="" class="mx-3 text-decoration-none text-primary">Inicio</a>
            <a routerLink="/ediciones" class="mx-3 text-decoration-none text-primary">Ediciones</a>
            <a routerLink="/subidas" class="mx-3 text-decoration-none text-primary">Subidas</a>
            <a routerLink="/pilotos" class="mx-3 text-decoration-none text-primary">Pilotos</a>
            <a routerLink="/noticias" class="mx-3 text-decoration-none text-primary">Noticias</a>
        </nav>
    </div>
</header>