<div class="container-fluid">
    <!-- Contenido principal de la página -->
    <div class="container mt-4">
      <h1 class="rally-title">Campeonato gallego de montaña</h1>
  
      <!-- Descripción -->
      <p class="text-center mt-4">Consulta la historia del campeonato gallego de montaña, así como sus participantes más relevantes</p>
  
      <!-- Badge de estadísticas -->
      <div class="container text-center m-4">
        <span class="badge container bg-success p-3">¡Desde 1984 hasta hoy!</span>
      </div>


      <div class="container my-5">
        <div class="row justify-content-center">
          <!-- Card 1 (Campeonatos) -->
          <div class="col-md-3 mb-4">
            <div class="card custom-card">
              <img src="formaux1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Campeonatos</h5>
                <p class="card-text">Descubre los campeonatos más emocionantes.</p>
                <!-- Enlace con routerLink -->
                <a href="#" class="btn btn-primary" routerLink="/api/ediciones">Ver Más</a>
              </div>
            </div>
          </div>
      
          <!-- Card 2 (Rallys) -->
          <div class="col-md-3 mb-4">
            <div class="card custom-card">
              <img src="loeb1.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Subidas</h5>
                <p class="card-text">¡Vive la emoción del rally con nosotros!</p>
                <!-- Enlace con routerLink -->
                <a href="#" class="btn btn-primary" routerLink="/api/subidas">Ver Más</a>
              </div>
            </div>
          </div>
      
          <!-- Card 3 (Pilotos) -->
          <div class="col-md-3 mb-4">
            <div class="card custom-card">
              <img src="loeb2.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Pilotos</h5>
                <p class="card-text">Conoce a los pilotos más destacados.</p>
                <!-- Enlace con routerLink -->
                <a href="#" class="btn btn-primary" routerLink="/api/participantes">Ver Más</a>
              </div>
            </div>
          </div>
      
          <!-- Card 4 (Copilotos) -->
          <div class="col-md-3 mb-4">
            <div class="card custom-card">
              <img src="mouton2.jpg" class="card-img-top" alt="Image 4">
              <div class="card-body">
                <h5 class="card-title">Copilotos</h5>
                <p class="card-text">Los copilotos también son parte fundamental.</p>
                <!-- Enlace con routerLink -->
                <a href="#" class="btn btn-primary" routerLink="/copilotos">Ver Más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>